.list-productos{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.item-producto{
    border-radius: 50px;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9,
                 -20px -20px 60px #ffffff;
    width: 30%;
    padding: 10px 15px;
}

.item-image{
    width: 100%;
    border: solid red;
}